<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portada</title>
</head>
<body>
    <!DOCTYPE html>
<html>
<body>

<h1>Puntuar</h1>



<form action="/action_page.php">
  <label for="Seminario">Elige un seminario:</label>
  <select name="seminario" id="seminario">
    <option value="seminario1 Lucia">seminario1 Lucia</option>
    <option value="seminario2 Juan">seminario2 Juan</option>

  </select>
  <br><br>
  <input type="submit" value="enviar">
</form>



</body>
</html>

</body>
</html>
